:root {
  --cell-size: 24px;

  --hint-cell-width: var(--cell-size);
  --hint-cell-height: calc(var(--cell-size) * 0.75);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.game__header {
  width: 100%;
  text-align: center;
}

.game__workspace {
  display: grid;
  background-color: rgb(218, 215, 215);
  padding-right: 25px;
  padding-top: 15px;
  border: black 1px solid;
  border-radius: 10px;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

  grid-template-areas:
    "corner columnHints"
    "rowHints board"
    "status status";

  gap: 0;
}

.game__corner {
  grid-area: corner;
}

.game__column-hints {
  grid-area: columnHints;
}

.game__row-hints {
  grid-area: rowHints;
}

.game__board {
  grid-area: board;

  display: grid;
}

.game__cell {
  position: relative;

  width: var(--cell-size);
  height: var(--cell-size);

  border: 1px solid #999;
  background-color: white;
}

.game__cell--cross::before,
.game__cell--cross::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 80%;
  height: 1px;

  background-color: #999;
}

.game__cell--cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.game__cell--cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.game__cell--filled {
  background-color: black;
}

.game__row-hints {
  display: grid;
  grid-auto-rows: var(--cell-size);
}

.game__row-hint {
  min-width: 80px;
  height: var(--cell-size);

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-right: 8px;
}
.game__column-hints {
  display: grid;
  grid-area: columnHints;
}

.game__column-hint {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.game__column-hint > div {
  width: var(--hint-cell-width);
  height: var(--hint-cell-height);

  display: flex;
  align-items: center;
  justify-content: center;
}

.game__status {
  grid-area: status;

  min-height: 50px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 20px;
  font-weight: bold;

  overflow: hidden;
}

.game__status--finished {
  animation: game-status-show 0.8s ease-out;
}

@keyframes game-status-show {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}
